/* 
    GENERAL
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.container-sm {
    max-width: 750px;
    margin: 0 auto;
}
.my-row {
    display: flex;
    flex-wrap: wrap;
}
/* .my.col-1-2 {
    width: 50%;
} */
.justify-space-between {
    justify-content: space-between;
}
/* 
    APP
*/
main {
  text-align: center;
}

img {
    max-width: 100%;
    object-fit: cover;
}