@use 'partials/variables.scss' as *;
/* 
    GENERAL
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.container-sm {
    max-width: 750px;
    margin: 0 auto;
}
.my-row {
    display: flex;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}
/* 
    APP
*/
section {
  text-align: center;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.my-btn {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid $colorGray;
    background-color: transparent;
    > a {
        text-decoration: none;
        text-transform: uppercase;
        color: $colorGray;
    }
}