/* 
    GENERAL
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.container-sm {
    max-width: 750px;
    margin: 0 auto;
}
.my-row {
    display: flex;
    flex-wrap: wrap;
}
.justify-space-between {
    justify-content: space-between;
}
/* 
    APP
*/
main {
  text-align: center;
}